p {
    line-height: 40px;
    font-size: 17px;
    text-indent: 80px;
}

@media screen and (max-width: 601px){
    .top {
        background-position-y: 0px !important;
    }

    hr {
        margin-bottom: 40px !important;
    }

    .nav li a {
        color: black !important;
        font-size: 18px;
        font-weight: 900;
    }
}

@media screen and (min-width: 601px){
    .nav li a {
        color: white !important;
    }
}

#basics li a {
    color: black !important;
}

.sidenav-trigger {
    color: white;
}

.buyingInfo {
    margin-bottom: 50px;
}

.imgWrap {
    height: auto !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.top {
    background-image: url("../images/Cello.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -800px;
    color: white;
}

.black {
    background-color: black;
    height: 100vh;
    opacity: .6;
}

